@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Slab', serif;
}

.first-section {
    background-color: #1f2937;
    padding: 20px;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 12px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    align-items: center;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.main-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.main-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 190px;
    gap: 24px;
}

img{
    margin: 50px;
}

.sign-up-first-section {
    color: white;
    background-color: #3882f6;
    width: 100px;
    height: 35px;
    border: 1px #3882f6;
    border-radius: 10px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.row-of-blue-boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 100px;
    max-width: 100%;
}

.blue-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.blue-box-msg{
    border: 3px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-second {
    text-align: center;
    font-size: 18px;
}

.third-section{
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937
}

.p-third {
    font-size: 18px;
    font-weight: bolder;
}

#p-div{
    display: flex;
    justify-content: flex-end;
    width: 700px;
}

.fourth-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container{
    background-color: #3882f6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4{
    font-size: 24px;
    color: white;

}

.fourth-p{
    color: white;
    font-size: 18px;
}

.right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
}

.btn-fourth-div{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 75px;
}