* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Slab', serif;
}

.first-section {
    background-color: #1f2937;
    padding: 20px;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb
}

.navbar {
    display: flex;
    flex-direction: row;
}

.ul {
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}